#resultOne {
	width: 350px;
	float: left;
	height: 500px;
	position: static;
}

#resultTwo {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	position: static;
}

#resultThree {
	width: 350px;
	float: right;
	height: 500px;
	position: static;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.753);
    color: white;
    text-align: left;
}

#inputForm {
	padding-bottom: 20px;
	padding-top: 20px;
}

#submit {
	float: right;
}

#zipcode {
	margin-right: 30px;
}

#date {
	margin-right: 30px;
}

#dropdownMenuButton {
	width: 70px;
}

a:active {
	text-decoration: underline;
}

.jumbotron {
	background-color: #1e62f4; /* Orange */
	color: #ffffff;
	padding: 25px 25px;
	text-align: center;
}
.bg-grey {
	background-color: #f6f6f6;
	padding: 20px 50px;
}

.logo {
	font-size: 200px;
}

@media screen and (max-width: 768px) {
.col-sm-4 {
text-align: center;
margin: 25px 0;
	}
.col-sm-3 {
	text-align: center;
	margin: 25px 0;
}
}

#ourTeam {
	margin-top: 50px;
}